<div class="collapseCard isClosed js-collapseCard">
    <div class="collapseCard__header">
      <div class="collapseCard__wrap">
        <div class="collapseCard__title">Интригующий заголовок...🤨</div>
        <button class="collapseCard__handler">
            <span class="collapseCard__down">↓</span> 
            <span class="collapseCard__up">↑</span> 
        </button>
      </div>
    </div>
    <div class="collapseCard__body">
      <div class="collapseCard__wrap">
        <div class="collapseCard__text">
            <h3>Неоправдывающий ожидания текст</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>